*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    position: relative;
}

.color-changer {
    position: absolute;
    background-color: blue;
    height: 100%;
    width: 100%;
}
h1.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: 'Orbitron', sans-serif;
    color: #fff;
}
.button-container {
    position: absolute;
    align-items: center;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    bottom: 15px;
    width: 100%;
    height: 200px;
}
.button-container button {
    color: #fff;
    font-size: 55px;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    border: none;
}
